##Probability
##### Definition: Probability is a measure of the likelihood of an event to occur. Many events cannot be predicted with total certainty. We can predict only the chance of an event to occur i.e. how likely they are to happen, using it. Probability can range in from 0 to 1 indicates a certain event. The probability of all the events in a sample Space adds up to 1.

#####Formula for Probability

#####The probability formula is defined as the possibility of an event to happen is equal to the ratio of the number of favourable outcomes and the total number of outcomes.

#####Probability of event to happen P(E) = Number of favourable otcomes/Total Number of outcomes

In [ ]:
# Probability of getting on a die roll
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1   #n(A) = {3}
pa = na/ns   # P(A)
print("Probablity of getting 3:", pa)

Probablity of getting 3: 0.16666666666666666

In [ ]:
#Calcultate the probability of atleat getting one head when a coin is tossed thrice
ns = 8  #n(s) = {HHH, HHT, HTT, HTH, THH, TTH, THT, TTT}
na = 7 #n(a) = {HHH, HHT, HTT, HTH, THH, TTH, THT}
pa = na/ns
print("Probability of atleast one head is: ",pa)

Probability of atleat one head is:  0.875

In [ ]:
# A glass of jar contains 5 red, 3 blue, 2 green jelly beans.
#If a jelly bean is chosen, at random from the jar 
#what is the probability that it is not blue?
ns = 10 #n(s) = {5red, 3blue, 2green}
na = 7 #n(A) = {5red, 2green}
pa = na/ns #P(A)
print("Probability of getting not a blue jelly:", pa)

Probability of getting not a blue jelly: 0.7

### Dependent Independent Events

##### If the occurence of any event is completely unaffected by the occurence ofany other event, such events are known as an independent event in probability and the events which are affected by other events are known as dependent events

In [ ]:
# If the probability that A will be alive in 20 years is 0.7 and 
# the probability that B will be alive in 20 years is 0.5. 
# What is the probability that both will be alive in 29 years?

#They are independent events, so
P = 0.7 * 0.5
print('Probability that they will be alive after 20 years is:',P)

Probability that they will be alive after 20 years is: 0.35

In [ ]:
def event_probability(n,s):
  return n/s

In [ ]:
# A fair die is tossed twice. 
# Find the probability of getting a 4 or 5 on the first toss 
# and 1,2 or 3 in the second toss.

# It is a independent event

pa = event_probability(2,6) # probability of getting 4 or 5
pb = event_probability(3,6) #probability of getting 1 or 2 or 3
P = pa * pb
print("Probability of of getting a 4 or 5 on the first toss and 1,2,3 in the second toss:",P)

Probability of of getting a 4 or 5 on the first toss and 1,2,3 in the second toss: 0.16666666666666666

In [ ]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles. 
# In each draw, a marble is drawn from the bag and not replaced. 
# In three draws, fing the probability of obtaining white, black and 
# green in that order.

pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)

P = pw*pb*pg
print('The Probability of obtaining white, black and green in that order:', P)

The Probability of obtaining white, black and green in that order: 0.041666666666666664

In [ ]:
# calculate the probability of drawing a heart or a club 
# from the set of cards.

#Sample Space
cards = 52
hearts = 13
clubs = 13

heart_or_club = event_probability(hearts,cards) + event_probability(clubs,cards)
print('probability of drawing a heart or a club from the set of cards:', heart_or_club)

probability of drawing a heart or a club from the set of cards: 0.5

In [ ]:
# calculate the probability of drawing an ace, king or queen.

#Sample Space
cards = 52
ace= 4
king = 4
queen = 4

ace_king_queen = event_probability(ace,cards) + event_probability(king,cards)+ event_probability(queen,cards)
print("probability of drawing an ace, king or queen:",ace_king_queen)

probability of drawing an ace, king or queen: 0.23076923076923078

In [ ]:
# Find the probability of drawing heart or ace

#sample Space
cards = 52
ace = 4
hearts = 13
ace_of_hearts = 1

heart_or_ace = event_probability(hearts,cards) + event_probability(ace,cards) - event_probability(ace_of_hearts,cards)
print("Probability of drawing heart or ace:",round(heart_or_ace, 1))

Probability of drawing heart or ace: 0.3

## Complementary Events

#####For any event E1 there exists another event E1` which represents the remaining elements of the sample space S.

#####E1 = S- E1`

#####If a dice is rolled then the sample space S is given as S = {1,2,3,4,5,6}.
#####If a event E1 represents all the outcomes which is greater than 4, then E1` = {1,2,3,4}

#####Similarly, the complement of E1, E2, E3......En wull be represented as E1',E2',.....En'.

In [ ]:
#probability of not getting 5 when a fair die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1   #n(A) = {5}
pa = na/ns #P(A)
print('probability of not getting 5 when a fair die is rolled:',1-pa)

probability of not getting 5 when a fair die is rolled: 0.8333333333333334

## Conditional Probability

##### The formula for conditional probability is

#####P(A|B) = P(A or B)/P(B).

#####The parts: P(A|B) = Probability of A occuring, given B occures P(A.B) = probability of both A and B occuring P(B) occuring

#####Calculate the probability a student gets an A(80%+) in math, given they miss 10 or more classes.

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('student-mat.csv')
df.head(3)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6   6
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5   6
2     GP   F   15       U     LE3       T  ...     3       3       10  7  8  10

[3 rows x 33 columns]

In [ ]:
len(df)

395

##### We are only concerned with abscence and G3(final grade from 0 to 20) columns. 
#####Let us create new boolena colunms based on these columns to make our lives easier. 

#####Add aboolean column called grade_A notifing if a student achieved 80% or higher as a final score. Original values are on 0 to 20 scale so we multiply by 5.

In [ ]:
df['grade_A'] = np.where(df['G3']*5 >= 80,1,0)

#####Make another new boolean column called high_absenses with a value of 1 if a student missed 10 or more classes

In [ ]:
df['high_absenses'] = np.where(df['absences'] >=10,1,0)

In [ ]:
# Add one more column to make buliding a pivot table easier
df['count'] = 1

In [ ]:
# drop all other columns which we dont need.
df = df[['grade_A','high_absenses','count']]
df.head()

   grade_A  high_absenses  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [ ]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns = ['high_absenses'],
    aggfunc = np.size,
    fill_value=0
    )
print(final)

high_absenses    0   1
grade_A
0              277  78
1               35   5

In [ ]:
# P(A) is the probability of grade if 80% or greater

PA = (35+5)/(35+5+277+78)
PA

0.10126582278481013

In [ ]:
# P(B) is the probability of missing 10 or more classes.
PB = (78+5) / (35+5+277+78)
PB

0.21012658227848102

In [ ]:
PA_or_PB = 5/(35+5+277+78)
PA_or_PB    #P(A or B)

#As per the formula, P(A|B) = P(A or B)/P(B), put it together
ab = PA_or_PB / PB 
ab  # P(A|B)

0.060240963855421686

######The probability of getting atleast an 80% final grade, given missing 10 or more classes is 6%.

#####**Conclusion:** While the learning from our specific example is clear - go to class if you want good grades